Repository nickytonline/epic-actions: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --prose-wrap always

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.json": [
    "prettier --write"
  ],
  "*.{md, yml}": [
    "prettier --write --prose-wrap always"
  ]
}

Ran initial formatting with prettier on the codebase.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  CODE-OF-CONDUCT.md
  README.md
Due: prettier --write --prose-wrap always

Start tweet-first-merge action with Docker/nodejs
  tweet-first-merge/Dockerfile
  tweet-first-merge/action.js
  tweet-first-merge/action.yml
  tweet-first-merge/package-lock.json
  tweet-first-merge/package.json
Due: prettier --write, eslint --fix

fix dockerfile and add repo-token input
  tweet-first-merge/Dockerfile
  tweet-first-merge/action.yml
Due: none

fix dockerfile entrypoint
  tweet-first-merge/Dockerfile
Due: none

isFirstPull and addLabel functions
  tweet-first-merge/action.js
Due: prettier --write, eslint --fix

log search query
  tweet-first-merge/action.js
Due: prettier --write, eslint --fix

search by full_name
  tweet-first-merge/action.js
Due: prettier --write, eslint --fix

search by full_name take 2
  tweet-first-merge/action.js
Due: prettier --write, eslint --fix

change search term
  tweet-first-merge/action.js
Due: prettier --write, eslint --fix

search by org only
  tweet-first-merge/action.js
Due: prettier --write, eslint --fix

search without state
  tweet-first-merge/action.js
Due: prettier --write, eslint --fix

fix query to use repo:owner/repo
  tweet-first-merge/action.js
Due: prettier --write, eslint --fix

fix addLabel function
  tweet-first-merge/action.js
Due: prettier --write, eslint --fix

remove addLabel, function getTwitterHandle
  tweet-first-merge/action.js
Due: prettier --write, eslint --fix

implement message template
  tweet-first-merge/action.js
  tweet-first-merge/action.yml
Due: prettier --write, eslint --fix

implement outputs valid, message
  tweet-first-merge/action.js
  tweet-first-merge/action.yml
Due: prettier --write, eslint --fix

on stream 11/4/21
  tweet-first-merge-bash/action.yml
Due: none

setup a little more of action.yml + docs
  tweet-first-merge-bash/action.yml
  tweet-first-merge-bash/approach.md
Due: prettier --write --prose-wrap always

attempt workflow file
  .github/workflows/tweet-first-merge.yml
Due: none

more pr events
  .github/workflows/tweet-first-merge.yml
Due: none

update github handle grab
  tweet-first-merge-bash/action.yml
Due: none

echo handle
  tweet-first-merge-bash/action.yml
Due: none

+ example workflow in docs todo
  tweet-first-merge-bash/approach.md
Due: prettier --write --prose-wrap always

define repo and first
  tweet-first-merge-bash/action.yml
Due: none

test out tweet
  tweet-first-merge-bash/action.yml
Due: none

try to fix tweet template
  tweet-first-merge-bash/action.yml
Due: none

working with env
  tweet-first-merge-bash/action.yml
Due: none

try with -
  tweet-first-merge-bash/action.yml
Due: none

echo last
  tweet-first-merge-bash/action.yml
Due: none

pass env to action, use bash replacement
  tweet-first-merge-bash/action.yml
Due: none

add PR_URL and USER_URL
  tweet-first-merge-bash/action.yml
Due: none

several fixes, stub out tweet action
  tweet-first-merge-bash/approach.md
Due: prettier --write --prose-wrap always

test out prior to tweet
  tweet-first-merge-bash/action.yml
Due: none

only run on merge
  tweet-first-merge-bash/action.yml
Due: none

echo vars
  tweet-first-merge-bash/action.yml
Due: none

echo count
  tweet-first-merge-bash/action.yml
Due: none

echo $COUNT
  tweet-first-merge-bash/action.yml
Due: none

pass in github token
  tweet-first-merge-bash/action.yml
Due: none

reuse tweet env variable
  tweet-first-merge-bash/action.yml
Due: none

test without merge
  tweet-first-merge-bash/action.yml
Due: none
